<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-sm-12">
      <ng-container *ngIf="!isLoading">
        <h1>Editar Tarefa</h1>
        <hr>
          <form #form="ngForm" autocomplete="off" (ngSubmit)="onSalvarTarefa(form)">
            <label 
              for="nome-tarefa" 
              class="control-label mt-3"
              >Nome da Tarefa
            </label>
            <input 
              type="text" 
              class="form-control" 
              id="nome-tarefa" 
              name="nome"
              #name="ngModel"
              [(ngModel)]="tarefa.nome"
              required
            >
            
            <label 
              for="nome-tarefa" 
              class="control-label mt-3"
              >Descrição da Tarefa
            </label>
            <textarea 
              type="textarea" 
              class="form-control" 
              id="descr-tarefa" 
              name="descricao"
              #descricao="ngModel"
              [(ngModel)]="tarefa.descricao"
              required
            ></textarea>
          
            <label 
              for="data-limite" 
              class="control-label mt-3"
              >Data Limite
            </label> 
            <input 
              type="date" 
              class="form-control"
              name="limite"
              #limite="ngModel"
              [(ngModel)]="tarefa.limite"
              required
            >       
        
            <div class="row justify-content-md-end mt-3">
              <div class="col-sm-2">
                <button 
                  routerLink="/" 
                  routerLinkActive="router-link-active" 
                  class="btn btn-block btn-danger"
                  >Voltar
                </button>
              </div>
              <div class="col-sm-2">
                <button 
                  class="btn btn-block btn-success" 
                  type="submit"
                  [disabled]="!form.valid"
                  >Salvar Tarefa
                </button>
              </div>
            </div>
          </form>
      </ng-container>
    </div>
  </div>
</div>