.bt-icon {
  cursor: pointer;
}

#tabelaTarefas {
  padding-top: 16px;
  width: 100%;
}

#areaBotoes {
  position: center;
  align-items: center;
  background-color: whitesmoke;
  height: 70px;
  width: 440px;
  opacity: 98%;
  border: 1px solid black;
}

#botoes {
  position: center;
  align-self: center;
}