<div class="row">
  <div class="col-sm-12">
    <h1>Create Task</h1>
      <form >
        <label 
          for="nome-tarefa" 
          class="control-label"
          >Nome da Tarefa
        </label>
        <input 
          type="text" 
          class="form-control form-control-lg" 
          id="nome-tarefa" 
          placeholder="Nome da Tarefa"
        >
        
        <label 
          for="nome-tarefa" 
          class="control-label"
          >Nome da Tarefa
        </label>
        <input 
          type="textarea" 
          class="form-control" 
          id="descr-tarefa" 
          placeholder="Descrição da Tarefa"
        >
      
        <label 
          for="data-limite" 
          class="control-label mt-3"
          >Data Limite
        </label> 
        <input 
          type="data" 
          class="form-control"
        >       
    
        <div class="row justify-content-center mt-3">
          <div class="col-sm-4">
            <a routerLink="''" routerLinkActive="router-link-active"  class="btn btn-block btn-secondary">Go Back</a>
          </div>
          <div class="col-sm-4">
            <button 
              class="btn btn-block btn-primary" 
              type="submit"
              >Save Task
            </button>
          </div>
        </div>
      </form>
  </div>
</div>
