<div class="container mt-3">
  <div class="row">
    <div class="col-sm-12">
      <h1>Nova Tarefa</h1>
      <hr>  
        <form #form="ngForm" autocomplete="off" (ngSubmit)="onSalvarTarefa(form)">
          <label 
            for="nome-tarefa" 
            class="control-label mt-3"
            >Nome da tarefa
          </label>
          <input 
            type="text" 
            class="form-control" 
            id="nome-tarefa" 
            name="nome"
            ngModel
            required
          >
          
          <label 
            for="nome-tarefa" 
            class="control-label mt-3"
            >Descrição da tarefa
          </label>
          <textarea 
            class="form-control" 
            id="descr-tarefa" 
            name="descricao"
            ngModel
            required
          ></textarea>
        
          <label 
            for="data-limite" 
            class="control-label mt-3"
            >Data limite
          </label> 
          <input 
            type="date" 
            class="form-control"
            name="limite"
            ngModel
            required
          >       
      
          <div class="row justify-content-center mt-3">
            <div class="col-sm-4">
              <a 
                routerLink="/" 
                routerLinkActive="router-link-active"  
                class="btn btn-block btn-secondary"
                >Voltar
              </a>
            </div>
            <div class="col-sm-4">
              <button 
                class="btn btn-block btn-primary" 
                type="submit"
                [disabled]="!form.valid"
                >Salvar Tarefa
              </button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>