.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.alert-box {
  position: fixed;
  top: 10vh;
  left: 39vw;
  width: 15vw;
  padding: 16px;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  text-align: center;
  border: 1px solid black;
}

.alert-box-actions {
  justify-content: center;
  text-align: right;
}

.mensagem {
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
}

